<div>
    <button class="jaksim_btn" type="submit" id="login_loginButton">로그인</button>
</div>
<div>
    <button  type="button" id="google_login" style="" onclick="window.location.href='/oauth2/authorization/google'">Sign in With Google</button>
</div>
