<div>
    <button class="jaksim_btn" type="submit" id="login_loginButton">로그인</button>
</div>
<div>
    <button class="garden_button" type="button" id="account_create_button" style="margin:1vh;" onclick="window.location.href='/oauth2/authorization/google'">Sign in With Google</button>
</div>