container_commands:
  01_install_awscli:
    command: |
      if ! command -v aws &> /dev/null; then
        echo "CLI 설치"
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        unzip awscliv2.zip
        sudo ./aws/install
      fi

  02_download_ssl_certificates:
    command: |
      mkdir -p /etc/nginx/ssl
      aws s3 sync s3://sprout-ssl-cert /etc/nginx/ssl/

  03_restart_nginx:
    command: sudo service nginx restart
